

<div class="container mt-5">
  <div class="row ">
    <div class="col">
      <img src="/img/apex-concept-art-wallpaper-mobile-lifeline.png" alt="no image" class="buscarImg1 mt-4">
    </div>
        <div class="col text-center">
                <div class="container text-center">
                    <img src="/img/enc.png" alt="no image" class="my-5 text-center titulos">
                </div>
            <form>
                <div class="form-group">
                    <div class="form-group">
                        <label class="text-light">Plataforma</label> <br>
                        <input id="platformText" type="text" name="plataforma" class="text-center mb-5 logInp" placeholder="PS4/PC/X1"/>
                    </div>
                    <div class="form-group">
                        <label class="text-light">Usuario</label> <br>
                        <input type="text" name="usuario" class="text-center logInp" placeholder="ApexPredator"/>
                    </div>
                </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg mt-3">Buscar</button>
            </form>
        </div>
    <div class="col text-end">
      <img src="/img/apex-concept-art-wallpaper-mobile-gibraltar.png" alt="no image" class="buscarImg2 mt-4">
    </div>
  </div>
</div>



<script>
    // ENVIAR INFO DEL FORMULARiO DE BUSQUEDA
        document.addEventListener('submit', async(e) => {
        e.preventDefault()

        const platformText = document.getElementById("platformText")
        const platforms = ["PS4", "PC", "X1"]
        if(!platforms.includes(platformText.value.toUpperCase())){
            return alert(`
            Porfavor Ingrese la Plataforma en el Formato Recomendado
            PS4
            PC
            X1`)
        }
        
        const formData = new FormData(e.target)
        const obj = Object.fromEntries(formData)

        try {
              const platform = obj.plataforma.toUpperCase()
              const user = obj.usuario

            window.location.href = `/resultado/?platform=${platform}&name=${user}`

        }catch(error){
            console.log(error)
        }
    })
</script>