
<div class="text-center my-5">
<img src="/img/apexshare.png" alt="">
</div>

<div class="container">

    <div class="row text-center">
        <div class="col-3">
            <img src="/img/apex-concept-art-wallpaper-mobile-mirage.png" alt="" class="img-wrapper2">
            <h2 class="text-light">¿Aún no tienes cuenta? <br> <a class="text-decoration-none" href="/register">Regístrate</a></h2>
        </div>
        <div class="col-6">
            <img src="/img/apex-concept-art-wallpaper-octane.jpg" alt="" class="img-wrapper">
                <h1 class="text-light mt-3">
                    Guarda tus estadisticas
                    <br> 
                    y compartelas con el mundo!
                    <br>

                </h1>
        </div>
        <div class="col-3">
            <img src="/img/apex-concept-art-wallpaper-mobile-bangalore.png" alt="" class="img-wrapper2">
            <h2 class="text-light">¿Ya tienes una cuenta? <br> <a class="text-decoration-none" href="/login">Iniciar Sesión</a></h2>
        </div>
    </div>
</div>

 
