
<div class="container mt-5">
  <div class="row ">
    <div class="col-3 text-center">
      <img src="/img/apex-concept-art-wallpaper-mobile-wattson.png" alt="no image" class="buscarImg1 mt-4">
      <br>
      <a href="/buscar">
      <button type="" class="btn btn-primary btn-lg mt-3">Volver</button>
      </a>
    </div>
        <div class="col-9 text-center">
            <div class="container text-center">
                <img src="/img/perf.png" alt="no image" class="my-5 text-center titulos">
            </div>
            
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3">
                         <h1 id="plataforma" class="text-light my-5 text-end">Loading...</h1>
                    </div>
                    <div class="col-7">
                        <h1 id="jugador" class="text-light my-5 text-start">Loading...</h1>
                    </div>
                </div>
                
                <div class="row text-light">
                    <div class="col">
                        <h3>NIVEL</h3>
                        <div class="leveling">
                            <p id="nivel" class="position-relative top-50 start-50 translate-middle-x py-4 text-dark fw-bold"><mark>Loading</mark></p>
                        </div>
                    </div>
                    <div class="col">
                        <h3>BR</h3>
                        <img src="/img/loading.png" alt="" id="rango_br">
                    </div>
                    <div class="col">
                        <h3>ARENAS</h3>
                        <img src="/img/loading.png" alt="" id="rango_ar" class="medalImg">
                    </div>
                </div>
                    <br>
                    <button id="reclamar" class="btn btn-primary btn-lg mt-3 disabled" onclick="call()">Reclamar</button>
        </div>
  </div>
</div>



<script>
        const valores = window.location.search;

        //Creamos la instancia
        const urlParams = new URLSearchParams(valores);

        //Accedemos a los valores
        var platform = urlParams.get('platform');
        var name = urlParams.get('name');

            var apiCall = async function (platform, username){
              const url = `https://api.mozambiquehe.re/bridge?version=5&platform=${platform}&player=${username}&auth=5d1WfrAudhH5NvKkebGp`
              var res = await fetch (url)
              var response = await res.json();
              return [response.global.platform, 
                    response.global.name, 
                    response.global.level,       
                    response.global.rank.rankImg, 
                    response.global.arena.rankImg,
                ]
          }

            // LLAMADA DE LAS ESTADISTICAS DESDE LA API
                apiCall(platform, name).then(val => {
                    document.getElementById("plataforma").innerHTML = val[0]
                    document.getElementById("jugador").innerHTML = val[1]
                    document.getElementById("nivel").innerHTML = val[2]
                    document.getElementById("rango_br").src = val[3]
                    document.getElementById("rango_ar").src = val[4]
                    document.getElementById("reclamar").classList.remove("disabled")
                })

    // REGISTRO DE LAS ESTADISTICAS EN LA BASE DE DATOS
        const call = async() => {
            const nombre = document.getElementById("jugador").innerHTML
            const plataforma = document.getElementById("plataforma").innerHTML
            const nivel = document.getElementById("nivel").innerHTML
            const rango_br = document.getElementById("rango_br").src
            const rango_ar = document.getElementById("rango_ar").src
            const id_usuario = localStorage.getItem("payload")

        const obj = {id_usuario, nombre, plataforma, nivel, rango_br, rango_ar}


         try {
            const res = await fetch('/api/v1/accounts/:id', {
                method: 'post',
                body: JSON.stringify(obj),
                headers:{
                    'Content-Type': 'application/json'
                }
            })

            const data = await res.json()
            
            if(!data.ok){
                return alert("Ya hay una cuenta reclamada por este usuario")
            }


            window.location.href = `/estado`

        }catch(error){
            console.log(error)
        }
    }

</script>